@page
@model S2.AspNet.Repetition.Pages.IndexModel
@{
    ViewData["Title"] = "Forside";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Min første memegenerator</h1>
<div class="wrapper">
    <article>
        <form action="/" method="get">
            <div class="memeWrapper">
                <div class="memeSelector">
                    <img src="~/Img/meme1.jpg" />
                    <input type="radio" name="imageselected" value="1" checked />
                </div>

                <div class="memeSelector">
                    <img src="~/Img/meme2.jpg" />
                    <input type="radio" name="imageselected" value="2" />
                </div>

                <div class="memeSelector">
                    <img src="~/Img/meme3.jpg" />
                    <input type="radio" name="imageselected" value="3" />
                </div>

                <div class="memeSelector">
                    <img src="~/Img/meme4.jpg" />
                    <input type="radio" name="imageselected" value="4" />
                </div>

                <div class="memeSelector">
                    <img src="~/Img/meme5.jpg" />
                    <input type="radio" name="imageselected" value="5" />
                </div>

                <div class="memeSelector">
                    <img src="~/Img/meme6.jpg" />
                    <input type="radio" name="imageselected" value="6" />
                </div>

                <div class="memeSelector">
                    <img src="~/Img/meme7.jpg" />
                    <input type="radio" name="imageselected" value="7" />
                </div>
            </div>
            <div class="memeSelector memeText">
                <input type="text" size="50" name="memeText"  placeholder="Skriv din meme text"/><br />
                    <div>
                        <select name="position">
                            <option value="top-left">Top left</option>
                            <option value="top-center">Top center</option>
                            <option value="top-right">Top right</option>
                            <option value="centered">centered</option>
                            <option value="bottom-left">Bottom left</option>
                            <option value="bottom-center">Bottom Center</option>
                            <option value="bottom-right">Bottom right</option>
                        </select>
                        <select name="color">
                            <option value="white">Hvid</option>
                            <option value="black">Sort</option>
                            <option value="orange">Orange</option>
                            <option value="green">Grøn</option>
                            <option value="red">Rød</option>
                            <option value="pink">Pink</option>
                        </select>
                    </div>
                <input type="submit" value="Generer meme" />
            </div>
        </form>
    </article>
</div>
@if (Model.MemeText != "")
{
    <div class="generatedMeme">
        <img src="@Model.SelectedImageUrl" />
        <div class="@Model.Position" style=" color: @Model.Color">
            @Model.MemeText
        </div>
    </div>
}



