<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,700|Roboto+Slab:300" rel="stylesheet">
    <!-- Custom css -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="hero">
        <header>
            <div class="navbar">
                <nav>
                    <ul>
                        @*<li><a href="#">Link</a></li>*@
                    </ul>
                </nav>
            </div>
        </header>
    </div>
    <section>
        @RenderBody()
    </section>
    
</body>
</html>
